<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar temas</title>
    <link rel="stylesheet" href="/css/global.styles.css">
    <link rel="stylesheet" href="/css/crearTemas.styles.css">
</head>
<body>
    <div class="body-style">
        <main class="main-container">
            <div><h2>Crear tema</h2></div>
            <form id="selectionForm">
                <div class="form-group">
                    <label for="options">Elige una categoría:</label>
                    <select id="options" name="options">
                        <option value="HISTORIA">HISTORIA</option>
                        <option value="VIDEOJUEGOS">VIDEOJUEGOS</option>
                        <option value="ARTE">ARTE</option>
                        <option value="GEOGRAFIA">GEOGRAFIA</option>
                        <option value="CINE">CINE</option>
                        <option value="DEPORTES">DEPORTES</option>
                    </select>
                </div>
                <button type="submit" class="blue-button">Generar con IA</button>
            </form>
            <div class="loader-container">
                <div id="loader" class="loader" style="display: none;"></div>
            </div>
            <div id="result" class="result-container" style="display: none;">
                <!-- Aquí se mostrará el resultado -->
                
            </div>
        </main>
    </div>
    <footer>
        <div class="footer-container">
          <div class="footer-left">
            <div class="icon-circle">
              <span>&lt;/&gt;</span>
            </div>
            <p>Tecnólogo en informática</p>
          </div>
          <div class="footer-center">
            <p><b>PromptBattle by</b> Juan Pablo Peculio 💻</p>
          </div>
          <div class="footer-right">
            <p>2024</p>
          </div>
        </div>
    </footer>
    <script src="/js/crearTemas.script.js"></script>
</body>
</html>
