<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/global.styles.css">
    <link rel="stylesheet" href="/css/dashboard.styles.css">
</head>
<body>
    <div class="body-style">
        <main class="main-container">
            <h2 id="welcome-message">Bienvenido al dashboard</h2>
            <button class="blue-button" id="cargarTemas">Cargar temas</button>
            <button class="blue-button" id="verPartidas">Partidas</button>
            <button class="red-button" id="logoutButton">Cerrar sesión</button>
        </main>
    </div>
    <script src="/js/dashboard.script.js"></script>
</body>
</html>
