<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.styles.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-box">
            <h1 id="welcome-message">Bienvenido al dashboard</h1>
            <button class="dashboard-button">Cargar temas</button>
            <button class="dashboard-button">Partidas</button>
            <button class="logout-button" id="logoutButton">Cerrar Sesión</button>
        </div>
    </div>
    <script src="/js/dashboard.script.js"></script>
</body>
</html>
