<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/global.styles.css">
    <link rel="stylesheet" href="/css/inicio.styles.css">
</head>
<body>
    <div class="body-style">
        <main class="main-container">
            <div><h2>Jugar</h2></div>
            <form id="gameForm">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <button class="blue-button" type="submit">Ingresar</button>
            </form>
        </main>
    </div>
    <script src="/js/inicio.script.js"></script>
</body>
</html>
