<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partidas</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="/css/global.styles.css">
    <link rel="stylesheet" href="/css/lobby.styles.css">
</head>
<body>
    <main class="container">
        <header>
            <h2>Partidas</h2>
            <div class="top-right">
                <h3 id="welcome-message">Bienvenido</h3>
                <button id="logoutButton" class="red-button">Cerrar sesión</button>
            </div>
        </header>
        
        <div id="grid-container" class="grid-container">
            <div class="card">
                <div class="card-content">
                    <p>Partida 1</p>
                    <button id="play" class="play-button">Jugar</button>
                </div>
            </div>
        </div>
    </main>
    <!-- <footer>
        <div class="footer-container">
          <div class="footer-left">
            <div class="icon-circle">
              <span>&lt;/&gt;</span>
            </div>
            <p>Tecnólogo en informática</p>
          </div>
          <div class="footer-center">
            <p><b>PromptBattle by</b> Juan Pablo Peculio 💻</p>
          </div>
          <div class="footer-right">
            <p>2024</p>
          </div>
        </div>
    </footer> -->
    <script src="/js/lobby.script.js"></script>
</body>
</html>
