<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="/css/global.styles.css">
    <link rel="stylesheet" href="/css/partida.styles.css">
</head>
<body>
    <header>
        <h2>Partida</h2>
    </header>
    <main>
        <h3 id="tema"></h3>
        <div class="loader-container" >
            <div id="loader" class="loader" style="display: none;"></div>
        </div>
        <div class="image-container" id="result" style="display: none;">
            <img id="imagen" src="#" alt="Imagen generada por IA">
        </div>
        <div class="input-container">
            <input id="texto" type="text" placeholder="Escribe tu texto aquí">
        </div>
        <button id="submit" class="submit-button">Enviar</button>
    </main>
    <script src="/js/partida.script.js"></script>
</body>
</html>
