<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="/css/global.styles.css">
    <link rel="stylesheet" href="/css/partida.styles.css">
</head>
<body>
    <header>
        <h2>Partida</h2>
    </header>
    <main>
        <div class="image-container">
            <img src="#" alt="Imagen generada por IA">
        </div>
        <div class="input-container">
            <input type="text" placeholder="Escribe tu texto aquí">
        </div>
    </main>
    <script src="/js/partida.script.js"></script>
</body>
</html>
