<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="/css/global.styles.css">
    <link rel="stylesheet" href="/css/partida.styles.css">
</head>
<body>
    <header>
        <h2>Partida</h2>
    </header>
    <main>
        <h3 id="tema"></h3>

        <div id="players-count-container">
            <p id="players-count">Battlers en la sala: 0</p>
        </div>

        <!-- Botón de "Listo" -->
        <div id="ready-container">
            <button id="ready-button" class="submit-button">Listo</button>
        </div>

        <!-- Loader o imagen generada por IA -->
        <div class="loader-container">
            <div id="loader" class="loader" style="display: none;"></div>
        </div>
        <div class="image-container" id="result" style="display: none;">
            <!-- <img id="imagen" src="#" alt="Imagen generada por IA"> -->
        </div>

        <!-- Add the modal here -->
        <div class="modal" id="modal" display="none">
            <div class="modal-content">
              <h4 id="modal-message"></h4>
              <button id="close-btn">Cerrar</button>
            </div>
          </div>

        <!-- Input y botón Enviar (Ocultos al inicio) -->
        <div class="input-container" id="input-container" style="display: none;">
            <input id="texto" type="text" placeholder="Escribe tu texto aquí">
        </div>
        <button id="submit" class="submit-button" style="display: none;">Enviar</button>
    </main>
    <script src="/js/partida.script.js"></script>
</body>
</html>
