
.main-content{
    margin-inline: 20%;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

/* Estilos del select */
select {
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    width: 50%;
    color: #374151;
    background-color: #f9fafb;
    border: 1px solid #cbd5e1;
}


label {
    font-weight: 600;
    color: #4b5563;
}

/* Contenedor de resultados */
.result-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    text-align: center;
}

.tema-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #cbd5e1;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container button{
    margin-bottom: 0;
    border: 1px solid #cbd5e1;
}

